.slide.container {
    width: 3000px;
    height: 2000px;
}

.image-container {
    width: 9000px;
    height: 6000px;
    position: relative;
    transition: left 2s;
    /*Let's assure that transition works on all browsers*/
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}